<div class="temp-admin-market" *ngIf="!ctrl_show_negocio">

    <div class="section-market-header">
        <div class="nav-component">
            <button id="gest_publicados" [class]="ctrl_menu==0?'active':''" (click)="ctrl_menu =0">Negocios publicados</button>
            <button id="gest_solicitudes" [class]="ctrl_menu==1?'active':''" (click)="ctrl_menu =1">Solicitudes</button>
            <button id="ges_bloqueados" [class]="ctrl_menu==2?'active':''" (click)="ctrl_menu =2">Negocios bloqueados</button>
        </div>
    </div>

    <div class="section-market-main">

        <app-admin-market-publicados (BoolShow)="OpenShow()"  *ngIf="ctrl_menu == 0"></app-admin-market-publicados>
        
        <app-admin-market-solicitudes *ngIf="ctrl_menu == 1"></app-admin-market-solicitudes>
        
        <app-am-bloqueados *ngIf="ctrl_menu == 2"></app-am-bloqueados>
    </div>
</div>
