.temp-signup{
    display: grid;
    align-content: start;
    padding: 10px 30px;
    grid-gap: 35px;
    grid-template: 
	"section-signup-left section-signup-center section-signup-right" auto/
		minmax(auto, 300px) 2px minmax(auto, 300px)
}

.section-signup-left{
	grid-area: section-signup-left;
    display: grid;
    align-content: start;
    grid-gap: 5em;
    min-height: 350px;
}

.section-signup-center{
	grid-area: section-signup-center;
    display: grid;
    grid-template-rows: auto 20px auto;
    grid-gap: 10px;
    justify-items: center;
}

.section-signup-right{
	grid-area: section-signup-right;
    display: grid;
    align-content: space-between;
}


.temp-modal-sms-tlf{
    display: grid;
    grid-template: 
	"section-search" 80px
    "section-body-sms" auto/
		100%
}

.section-search input{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--neutro-500);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.section-body-sms{
	grid-area: section-body-sms;
    display: grid;
    max-height: 500px;
    overflow: auto;
    padding: 5px 10px;
}

.signup-title{
    font-size: 28px;
    font-weight: 500;
    color: var(--secondary-900);
}



.bg-white{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    justify-items: center;
    padding: 40px;
    grid-template-rows: 100px auto;
}

.section-uno{
    display: grid;
    align-items: space-around;
    width: 200px;
    text-align: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-gap: 30px;
}


.section-form{
    display: grid;
    width: 300px;
    max-width: 300px !important;
    max-height: 600px;
    align-items: space-around;
    justify-items: center;
    grid-template-rows: 30px auto;
}

.bar-progress{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
}

.bar-progress>div{
    width: 50px;
    height: 6px;
    border-radius: 24px;
}

.progres-primary{
    background-color: var(--primario-rosa-2);
}

.progres-now{
    background-color: var(--secondary-600);
}

.progres-prox{
    background-color: var(--neutro-300);
}

.form-title{
    font-size: 32px;
    font-weight: 500;
    line-height: 35px;
}

.group-btn-identidad{
    display: flex;
    flex-wrap:wrap;
    grid-gap: 5px;
}

.circle-img{
    justify-self: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.group-input-code{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 10px;
}

.group-input-code>input{
    width: 48px;
    height: 48px;
    padding: 12px;
    background: #ECECEC;
    border-radius: 8px;
    text-align: center;
}

.btn-recibir-code{
    color: var(--neutro-500);
}

.btn-reenviar{
    color: var(--alerts-info);
}