<div class="container" *ngIf="isOpen">

    <!-- ! COMPONENT ======================================================================= -->
    <div *ngIf="fase == 0" class="card" [ngClass]="close ? 'fade-out' : 'fade-in'">
        <button (click)="Cerrar()" class="btn-icon align-self-start justify-self-end"><i class="icon icon-close"></i></button>

        <div class="temp-signup">
            <div class="subcard-18">
                <h1 >+18</h1>
                <h5>{{"crear_cuenta.card_18" | translate}}</h5>
            </div>

            <div class="section-signup-left">
                <div class="grid" style="grid-gap:20px">
                    <h1 class="signup-title">{{"crear_cuenta.titulo" | translate}}</h1>
                    <h5 class="">
                        {{"iniciar_sesion.text_1" | translate}}
                        <a routerLink="terminos"> {{"configuracion.seccion_legales.btn_terminos" | translate}}</a>{{"iniciar_sesion.text_2" | translate}}
                        <a  routerLink="politicas" > {{"configuracion.seccion_legales.btn_ayuda" | translate}}</a>
                    </h5>
                </div>

                <div class="grid justify-items-center gap-20">
                    <h3 class="text-center">{{"iniciar_sesion.continuar" | translate}}</h3>
                    <div class="group-logins">
                        <button class="btn-type-login" (click)="signUpFacebook()"> <img src="../../assets/imagenes/Facebook.png" alt="">  </button>
                        <button class="btn-type-login" (click)="signUpGoogle()"> <img src="../../assets/imagenes/Google.png" alt="">  </button>
                        <button class="btn-type-login" (click)="OpenModalSms()"> <img src="../../assets/imagenes/Phone.png" alt="">  </button>
                    </div>
                </div>

                <div class="display-column">
                    <h5>{{"crear_cuenta.account" | translate}}</h5>
                    <button class="btn-link" (click)="IniciarSesion()">{{"iniciar_sesion.titulo" | translate}}</button>
                </div>
            </div>

            <div class="section-signup-center">
                <div class="line"></div>
                <div class="circle">
                    <h4>O</h4>
                </div>
                <div class="line"></div>
            </div>

            <div class="section-signup-right" >
                <div class="form-group">

                    <label for="">{{"crear_cuenta.nombre" | translate}} </label>
                    <input type="text"
                        [(ngModel)]="usuario.datos.nombre"
                        [placeholder]="'crear_cuenta.ph_nombre' | translate"
                        (keyup)="[SoloLetra($event),CanSignUp()]"  
                    >
                </div>

                <div class="form-group">
                    <label for="">{{"crear_cuenta.correo" | translate}} </label>
                    <input type="text"
                        [(ngModel)]="usuario.datos.correo"
                        [placeholder]="'crear_cuenta.ph_correo' | translate"
                        (keyup)="CanSignUp()"  
                    >
                </div>

                <div class="form-group">
                    <label for="">{{"crear_cuenta.telefono" | translate}} </label>
                    <div class="input-group-append">
                        
                        <button (click)="display_telf=true"  class="input-append"> +{{usuario.datos.code_phone}} </button>
                        <input type="text"
                            [placeholder]="'crear_cuenta.ph_numero' | translate"
                            [(ngModel)]="usuario.datos.telefono"
                            (keyup)="CanSignUp()" 
                            (keypress)="SoloNumero($event)" 
                            maxlength="14"
                        >
                    </div>
                </div>

                <div class="form-group">
                    <div class="group-input-icon-right">
                        <span class="icon" [ngClass]="viewPass?'icon-eyes':'icon-eyes-close'" (click)="tooglePass(true)" ></span>
                        <label for="">{{"crear_cuenta.contrasena" | translate}}</label>
                        <input 
                            [type]="viewPass ? 'text' : 'password'"
                            [placeholder]="'crear_cuenta.ph_contrasena' | translate"
                            [(ngModel)]="usuario.datos.clave"
                            (keyup)="CanSignUp()"  
                            maxlength="25"
                        >
                    </div>
                </div>

                <div class="form-group">
                    <div class="group-input-icon-right">
                        <span class="icon" [ngClass]="viewRePass?'icon-eyes':'icon-eyes-close'" (click)="tooglePass(false)" ></span>
                        <label for="">{{"crear_cuenta.re_contrasena" | translate}} </label>
                        <input  [type]="viewRePass ? 'text' : 'password'"
                            [(ngModel)]="rep_clave" 
                            [placeholder]="'crear_cuenta.ph_re_contrasena' | translate"
                            (keyup)="CanSignUp()"  
                            maxlength="25"
                        >
                    </div>
                </div>
                <p class="text-error" *ngIf="error==1">{{"crear_cuenta.err_1" | translate}}</p>
                <p class="text-error" *ngIf="error==2">{{"crear_cuenta.err_2" | translate}}</p>
                <p class="text-error" *ngIf="error==3">{{"crear_cuenta.err_3" | translate}}</p>
                <p class="text-error" *ngIf="error==4">{{"crear_cuenta.err_4" | translate}}</p>
                <p class="text-error" *ngIf="error==5">{{"crear_cuenta.err_5" | translate}}</p>
                <p class="text-error" *ngIf="error==6">{{"iniciar_sesion.alert_del.titulo" | translate}}</p>
                
                <div class="checkbox-group">
                    <input type="checkbox" checked="true" id="session-open ">
                    <label for="session-open"> {{"crear_cuenta.recordar" | translate}}</label>
                </div>
                
                <button
                    class="btn btn-block"
                    [ngClass]="canSignUp?'btn-primary':'btn-disable'"
                    (click)="(!loading) && CrearCuenta()"
                > {{"crear_cuenta.btn_crear" | translate}} <span *ngIf="loading" class="icon icon-loader"></span> </button>
            </div>

            <div class="bg-card fadeIn"  *ngIf="display_telf">
                <div class="card-option onUp" >
                    <div class="card-option-header">
                        <button class="btn justify-self-end"> <span class="icon"></span> </button>
            
                        <h3 class=" justify-self-center text-center font-600">{{"crear_cuenta.cod_tel" | translate}}</h3>
            
                        <button class="btn justify-self-end" (click)="CerrarModal()"> <span class="icon icon-check"></span> </button>
                    </div>
            
                    <div class="card-option-search">
                        <div class="group-input-icon-left">
                            <span class="icon icon-search"></span>
                            <input type="text" [(ngModel)]="filtro" (keyup)="filtrar()" placeholder="Buscar">
                        </div>
                    </div>
            
                    <div class="card-option-body" *ngIf="telf_filtro.length == 0">
                        <div class="radio-group" style="justify-content: space-between;" *ngFor="let locacion of locaciones;let i = index">
                            <label [for]="i"> {{locacion.country_name}}  ( {{locacion.country_phone_code}} )</label>
                            <input
                                (click)="SelectCodeTlf(locacion.country_phone_code, locacion.country_short_name)" 
                                [(ngModel)]="id_telf" 
                                [value]="locacion.country_name"
                                [id]="i" name="tlf" type="radio"
                            >
                        </div>
                    </div>
            
                    <div class="card-option-body" *ngIf="telf_filtro.length != 0">
                        <div class="radio-group" style="justify-content: space-between;" *ngFor="let locacion of telf_filtro;let i = index">
                            <label [for]="i"> {{locacion.country_name}}  ( {{locacion.country_phone_code}} )</label>
                            <input 
                                (click)="SelectCodeTlf(locacion.country_phone_code, locacion.country_short_name)" 
                                [(ngModel)]="id_telf" 
                                [value]="locacion.country_name"
                                [id]="i" name="tlf" type="radio"
                            >
                        </div>
                    </div>
            
                </div>
            </div>
        </div>
    </div>


    <!-- ! MODAL SMS ======================================================================= -->
    <app-sms [importTipo]="0" (exportRes)="SignUpSms($event)"></app-sms>


    <!-- ! FASE LLENADO -->
    <div *ngIf="fase != 0" class="bg-white">
        <img src="../../assets/imagenes/LogoColor.png" alt="">

        <!-- ? FASE BIENVENIDA -->
        <div class="section-uno" *ngIf="fase == 1">
            <h1 class="font-500">{{"crear_cuenta.fase_0.titulo" | translate}}</h1>
            <h4>{{"crear_cuenta.fase_0.parrafo" | translate}}</h4>
            <button
                class="btn-primary btn-circle"
                (click)="fase = 2"
            ><i class="icon icon-arrow-right"></i></button>
        </div>

        <!-- ! FASE FORMULARIO -->
        <div *ngIf="fase >= 2" class="section-form">

            <div class="bar-progress">
                <div [ngClass]="[fase == 2 ? 'progres-now':'', fase > 2? 'progres-primary':'', fase <2?'progres-prox':'']"></div>
                <div [ngClass]="[fase == 3 ? 'progres-now':'', fase > 3? 'progres-primary':'', fase <3?'progres-prox':'']"></div>
                <div [ngClass]="[fase == 4 ? 'progres-now':'', fase > 4? 'progres-primary':'', fase <4?'progres-prox':'']"></div>
                <div [ngClass]="[fase == 5 ? 'progres-now':'', fase > 5? 'progres-primary':'', fase <5?'progres-prox':'']"></div>
                <div [ngClass]="[fase == 6 ? 'progres-now':'', fase > 6? 'progres-primary':'', fase <6?'progres-prox':'']"></div>
                <div [ngClass]="[fase == 7 ? 'progres-now':'', fase > 7? 'progres-primary':'', fase <7?'progres-prox':'']"></div>
                <div [ngClass]="[fase == 8 ? 'progres-now':'', fase > 8? 'progres-primary':'', fase <8  ?'progres-prox':'']"></div>
            </div>

            <div class="grid" *ngIf="fase == 2">
                <div class="grid gap-20 align-self-start">
                    <h1 class="form-title">{{"crear_cuenta.fase_1.titulo" | translate}}</h1>
                    <input type="date" (change)="(VacioU(usuario.fecha))? pass=true:pass=false " [(ngModel)]="usuario.fecha_nac">
                    <p class="text-error" *ngIf="error == 1">{{"crear_cuenta.err_6" | translate}}</p>  
                    <p class="text-error" *ngIf="error == 2"> {{"crear_cuenta.fase_1.err_p1" | translate:{value:edad} }} </p>  
                    <p class="text-error" *ngIf="error == 2"> {{"crear_cuenta.fase_1.err_p2" | translate}} </p>
                </div>

                <h5>{{"crear_cuenta.fase_1.parrafo" | translate}}</h5>
            </div>


            <div class="grid" *ngIf="fase == 3">
                <h1 class="form-title">{{"crear_cuenta.fase_2.titulo" | translate}}</h1>
                
                <div class="form-group">
                    <label for=""> {{"crear_cuenta.fase_2.pais" | translate}} </label>
                    <select name="" (change)="(VacioU(usuario.locacion.ciudad))" [(ngModel)]="usuario.locacion.pais" (change)="CargarEstados()" id="">
                        <option  disabled>Spain</option>
                        
                    </select>
                </div>

                <div class="form-group">
                    <label for=""> {{"crear_cuenta.fase_2.estado" | translate}} </label>
                    <select name="" id="" (change)="(VacioU(usuario.locacion.ciudad)?pass= false:pass=true)" [(ngModel)]="usuario.locacion.estado" (change)="CargarCiudad()">
                        <option [value]="estado.state_name"  *ngFor="let estado of estados">
                            {{ estado.state_name}}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for=""> {{"crear_cuenta.fase_2.ciudad" | translate}} </label>
                    <select name="" id="" (change)="(VacioU(usuario.locacion.ciudad)?pass= false:pass=true)" [(ngModel)]="usuario.locacion.ciudad">
                        <option [value]="ciudad.city_name"  *ngFor="let ciudad of ciudades">
                            {{ ciudad.city_name}}
                        </option>
                    </select>
                </div>
                <p class="text-error" *ngIf="error == 1">{{"crear_cuenta.err_6" | translate}}</p>

                <h5>{{"crear_cuenta.fase_2.parrafo" | translate}}</h5>
            </div>

            <!-- ? IDENTIFICACION DE GENERO -->
            <div class="grid" *ngIf="fase == 4">
                <h1 class="form-title">{{"crear_cuenta.fase_3.titulo" | translate}}</h1>

                <h5 class="font-300">{{"crear_cuenta.fase_3.parrafo" | translate}}</h5>

                <div class="group-btn-identidad">
                    <button class="btn-genero" (click)="selectIdentidad(0,$event)"> {{"identidad.upt_0" | translate}} </button>
                    <button class="btn-genero" (click)="selectIdentidad(1,$event)">{{"identidad.upt_1" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(2,$event)">{{"identidad.upt_2" | translate}}</button>
                    <!-- <button class="btn-genero" (click)="selectIdentidad(3,$event)">Pareja</button> -->
                    <button class="btn-genero" (click)="selectIdentidad(4,$event)">{{"identidad.upt_4" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(5,$event)">{{"identidad.upt_5" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(6,$event)">{{"identidad.upt_6" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(7,$event)">{{"identidad.upt_7" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(8,$event)">{{"identidad.upt_8" | translate}}</button>
                    
                </div>
                <p class="text-error" *ngIf="error == 1">{{"crear_cuenta.fase_3.err" | translate}}</p>

            </div>

            <!-- ? CARGAR FOTO PERFIL -->
            <div class="grid justify-items-center" *ngIf="fase == 5">
                <h1 class="form-title">{{"crear_cuenta.fase_4.titulo" | translate}}</h1>
                <div class="content-circle-img">
                    <div class="circle-img" >
                        <img *ngIf="user_imagen_show == null" src="../../assets/imagenes/user.png"  alt="">
                        <img [src]="user_imagen_show" alt="">
                    </div>
                    <button (click)="[SelectImg()]" class="sub-circle-img">+</button>
                </div>
                <p class="text-error" *ngIf="error == 1">{{"crear_cuenta.fase_4.err" | translate}}</p>

                <input type="file" id="img" (change)="[CargarImagen($event), VacioU(img_user)? pass = false: pass = true]" style="display:none" accept="image/png, image/gif, image/jpeg">
                <h5 class="text-center">{{"crear_cuenta.fase_4.parrafo" | translate}}</h5>
            </div>

            <!-- ? INTERESES -->
            <div class="grid" *ngIf="fase == 6">
                <h1 class="form-title">{{"crear_cuenta.fase_5.titulo" | translate}}</h1>

                <h5 class="font-300">{{"crear_cuenta.fase_5.parrafo" | translate}}</h5>

                <div class="group-btn-identidad">
                    <button class="btn-genero" (click)="selectIdentidad(0,$event)">{{"identidad.upt_0" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(1,$event)">{{"identidad.upt_1" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(2,$event)">{{"identidad.upt_2" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(3,$event)">{{"identidad.upt_3" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(4,$event)">{{"identidad.upt_4" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(5,$event)">{{"identidad.upt_5" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(6,$event)">{{"identidad.upt_6" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(7,$event)">{{"identidad.upt_7" | translate}}</button>
                    <button class="btn-genero" (click)="selectIdentidad(8,$event)">{{"identidad.upt_8" | translate}}</button>
                    <button class="btn btn-genero" (click)="selectServicio(0,$event)">{{"servicios.upt_0" | translate}}</button>
                    <button class="btn btn-genero" (click)="selectServicio(1,$event)">{{"servicios.upt_1" | translate}}</button>
                    <button class="btn btn-genero" (click)="selectServicio(2,$event)">{{"servicios.upt_2" | translate}}</button>
                    <button class="btn btn-genero" (click)="selectServicio(3,$event)">{{"servicios.upt_3" | translate}}</button>
                    <button class="btn btn-genero" (click)="selectServicio(4,$event)">{{"servicios.upt_4" | translate}}</button>
                </div>
                <p class="text-error" *ngIf="error == 1">{{"crear_cuenta.fase_3.err" | translate}}</p>

            </div>

            <!-- ? SERVICIO A OFRECER -->
        <div class="grid" *ngIf="fase == 7">
            <h1 class="form-title">{{"crear_cuenta.fase_6.titulo" | translate}}</h1>

            <h5 class="font-300">{{"crear_cuenta.fase_6.titulo" | translate}}</h5>

            <div class="group-btn-identidad">
                <button class="btn-genero" (click)="selectServicio(0,$event)">{{"servicios.upt_0" | translate}}</button>
                <button class="btn-genero" (click)="selectServicio(1,$event)">{{"servicios.upt_1" | translate}}</button>
                <button class="btn-genero" (click)="selectServicio(2,$event)">{{"servicios.upt_2" | translate}}</button>
                <button class="btn-genero" (click)="selectServicio(3,$event)">{{"servicios.upt_3" | translate}}</button>
                <button class="btn-genero" (click)="selectServicio(4,$event)">{{"servicios.upt_4" | translate}}</button>
            </div>

        </div>
        <button *ngIf="fase == 7" class="btn font-600" (click)="fase = 8" >{{"crear_cuenta.fase_6.saltar" | translate}}</button>


        <!-- ? GEOLOCALIZACION -->
        <div class="grid justify-items-center" *ngIf="fase == 8">
            <h1 class="form-title">{{"crear_cuenta.fase_7.titulo" | translate}}</h1>

            <h1><i style="font-size: 48px;" class="icon icon-location"></i></h1>
            <h5 class="text-center">{{"crear_cuenta.fase_7.parrafo" | translate}}</h5>
        </div>
            

            <div class="grid justify-items-center" *ngIf="fase == 9">
              <img class="icon-loader" src="../../../assets/imagenes/loading.png" alt="">
            </div>

            <button
                class="btn-circle"
                *ngIf="fase <8"
                (click)="CtrlForm()"
                [class]="pass?'btn-primary':'btn-disable'"
            ><i class="icon icon-arrow-right"></i></button >
            <button *ngIf="fase == 7" class="btn font-600" style="color: black;" (click)="fase = 8" >Saltar opción</button>


            <div class="grid gap-10 align-content-start justify-self-stretch">
                <button *ngIf="fase == 8" (click)="ActivarGeo()" class="btn-primary btn-block">{{"crear_cuenta.fase_7.activar" | translate}}</button>
                <button *ngIf="fase == 8" (click)="SignUp()" class="btn-secondary btn-block">{{"crear_cuenta.fase_7.rechazar" | translate}}</button>
            </div>

        </div>

    </div>

</div>



<div class="container" *ngIf="display_delete" >

    <div class="card card-delete">
        <button class="btn close justify-self-end" (click)="display_delete = false;"   ><span class="icon icon-close"></span></button>

        <img src="../../../assets/imagenes/close-square.png" alt="">

        <h2 class="font-500" >{{"iniciar_sesion.alert_del.titulo" | translate}}</h2>
        <h5 class="text-center">{{"iniciar_sesion.alert_del.texto" | translate}}</h5>
        
    </div>

</div>

<div class="container" *ngIf="display_block" >

    <div class="card card-block">
        <button class="btn close justify-self-end" (click)="display_block = false;"   ><span class="icon icon-close"></span></button>

        <div class="content" *ngIf="fase_block == 0" >
            <img src="../../../assets/imagenes/alert-triangle.png" alt="">

            <h2 class="font-500" >{{"iniciar_sesion.alert_block.titulo" | translate}}</h2>
            <h5 class="text-center">{{"iniciar_sesion.alert_block.texto" | translate}} </h5>
            
            <button class="btn-primary" (click)="fase_block =1" >{{"iniciar_sesion.alert_block.btn_des" | translate}}</button>
        </div>

        <div class="content" *ngIf="fase_block == 1" >
            <h3 class="font-500" >{{"iniciar_sesion.alert_block.p1.title" | translate}}</h3>

            <div class="form-group">
                <label for="">{{"iniciar_sesion.alert_block.p1.label" | translate}} </label>

                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>

            <button class="btn-primary btn-block" (click)="fase_block=2" >{{"iniciar_sesion.alert_block.p1.btn" | translate}}</button>
        </div>

        <div class="content" *ngIf="fase_block == 2" >
            <img src="../../../assets/imagenes/circle-check-modal.png" alt="">
            <h4  >{{"iniciar_sesion.alert_block.p2.title" | translate}}</h4>
            <p class="text-center" >{{"iniciar_sesion.alert_block.p2.text" | translate}}</p>
        </div>

    </div>

</div>