
<!-- ! FILTRO ========================================== -->
<div class="section-filtro">
    <div class="group-input-icon-left">
        <span class="icon icon-search"></span>
        <input type="text" class="input-square" placeholder="Buscar">
    </div>
    <button class="justify-self-end" class="btn btn-square" id="open_filtro" (click)="OpenFiltro()">Filtrar por <span class="icon icon-filter"></span> </button>
</div>


<!-- ! CONTENIDO ========================================== -->
<div class="grid align-content-start">
    <table>
        <thead>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>EDAD</th>
            <th>CIUDAD/PAIS</th>
            <th>TELEFONO</th>
            <th></th>
            <th></th>
        </thead>

        <tbody>
            <tr *ngFor="let number of [0,1,2,3,4]; let i = index">
                <td>Matías Saldivar Rojas</td>
                <td>matiassaldivar@gmail.com</td>
                <td>24</td>
                <td>Barcelona, España</td>
                <td>+34  984 572 496</td>
                <td >
                    <button (click)="ctrl_modal_user = true"><i class="icon icon-eyes"></i></button>
                </td>
                <td style="position: relative;">
                    <button (click)="ToggleOptionTable(i)"><i style="font-size: 5px;" class="icon icon-dots-horizontal"></i></button>
                    <div class="table-options"  [id]="i">
                        <button class="btn-icon" (click)="OpenModalBloqueo()"> <i class="icon icon-flag"></i> Bloquear cuenta </button>
                        <button class="btn-icon" (click)="OpenModalDelete()"> <i class="icon icon-trash"></i> Eliminar cuenta </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- ! MODAL USER ===================================================================================== -->
<div class="container" *ngIf="ctrl_modal_user">
    <div class="card justify-items-center card-user">
        <button (click)="ctrl_modal_user = false" class="btn-icon align-self-start justify-self-end"><i class="icon icon-close"></i></button>

        <div class="grid align-items-end">
            <div class="content-circle-img" style="width: 200px; height: 200px;">
                <div class="circle-img" >
                    <img src="../../assets/imagenes/user_example.jpg"  alt="">
                </div>
            </div>
        </div>


        <div class="grid align-self-center align-content-start text-center gap-10">
            <h1 class="font-600">Matías Saldivar Rojas</h1>

            <div class="flex-column gap-10" >
                <h2 style="color:var(--neutro-400)">24 años</h2>
                <h2 style="color:var(--neutro-400)">Barcelona, España</h2>
            </div>

            <h3>matíassaldivar@gmail.com</h3>
            <h2>+34  984 572 496</h2>
        </div>
    </div>
</div>
        

<!-- ! MODAL DELETE ===================================================================================== -->
<div class="container" *ngIf="ctrl_modal_delete">

    <div class="card  temp-card-delete text-center">
        <button (click)="ctrl_modal_delete = false" class="btn-icon align-self-start justify-self-end"><i class="icon icon-close"></i></button>
        
        <h1 style="line-height: 25px;" class="align-self-center"><i style="font-size: 65px; " class="icon icon-trash"></i></h1>
        
        <!-- ? FASE 1 CONFIRMACION -->
        <div class="grid justify-items-center" *ngIf="ctrl_fase_delete == 0">
            <div class="grid  align-content-start gap-10">
                <h1>Eliminar cuenta</h1>
                <h2 style="color: var(--neutro-400);"> Al eliminar esta cuenta se borrarán todos tus datos, fotos, lista de favoritos, mensajes y demás... de manera permanente y ya no podrá ser recuperado</h2>
            </div>
    
            <div class="grid">
                <button class="btn-delete" (click)="ctrl_fase_delete = 1">Eliminar cuenta</button>
                <button class="btn-cancel" (click)="ctrl_modal_delete = false">Cancelar</button>
            </div>
        </div>

        <!-- ? FASE 2 VALIDACION -->
        <div class="grid" *ngIf="ctrl_fase_delete == 1">
            <h1>Eliminar cuenta</h1>
            <h2 style="color: var(--neutro-400);">Ingresar la contraseña de administrador para continuar </h2>

            <div class="form-group">
                <label for="">Contraseña administrativa </label>
                <input type="text" (keyup)="ValDelete()" [(ngModel)]="clave_delete" placeholder="Contraseña">
            </div>

            <div class="grid gc-2x-g gap-10">
                <button class="btn btn-cancel">Cancelar</button>
                <button class="btn" [ngClass]="CanDelete ? 'btn-primary' : 'btn-disable'" (click)="EliminarCuenta()">Eliminar cuenta</button>
            </div>
        </div>

    </div>
    
</div>


<!-- ! MODAL BLOQUEO ===================================================================================== -->
<div class="container" *ngIf="ctrl_modal_bloqueo">
    <div class="card temp-modal-bloqueo justify-items-center text-center">
        <button (click)="CloseModalBloqueo()" class="btn-icon align-self-start justify-self-end"><i class="icon icon-close"></i></button>
        <div class="grid align-content-start gap-10">
            <h1 style="line-height: 25px;" class="align-self-center"><i style="font-size: 65px; " class="icon icon-flag"></i></h1>
            <div class="grid  align-content-start gap-10">
                <h1>¿Estás seguro que deseas <br> bloquear a este usuario?</h1>
            </div>
        </div>

        <div class="grid">
            <button class="btn-option" (click)="BloquearCuenta($event)">Uso inapropiado de la plataforma</button>
            <button class="btn-option" (click)="BloquearCuenta($event)">Información personal falsa</button>
            <button class="btn-option" (click)="openInputBloqueo = true">Otro</button>
            <div *ngIf="openInputBloqueo" class="form-group">
                <label for=""> Ingrese el motivo del bloqueo: </label>
                <textarea name="" id="" rows="2"></textarea>
                <button class="btn-primary" (click)="BloquearCuenta($event)">Continuar</button>
            </div>
        </div>

    </div>
</div>

<div class="modal-filtro" *ngIf="ctrl_modal_filtro" >
    <h3 class="font-500"> <span class="icon icon-filter"></span> Filtrar por</h3>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">ESTADO DE USUARIOS</h5>
        </div>

        <div class="radio-group">
            <input id="a" name="usuario" type="radio">
            <label for="a">Usuarios actuales</label>
        </div>
        <div class="radio-group">
            <input id="b" name="usuario" type="radio">
            <label for="b">Usuarios bloqueados</label>
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">LOCALIDAD</h5>
        </div>

        <div class="form-group">
            <label for="">Pais </label>
            <select name="" id="">
                <option value="0" disabled>Seleccionar</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Estado </label>
            <select name="" id="" >

            </select>
        </div>

        <div class="form-group">
            <label for="">Ciudad </label>
            <select name="" id="">

            </select>
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">DISTANCIA</h5>
        </div>

        <div class="container-range">
            <div class="line-range" id="line-distancia"></div>
            <input type="range" id="rango-distancia-min" class="range" min="0" max="100" value="30">
            <input type="range" id="rango-distancia-max" class="range"min="0" max="100" value="70">
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">EDAD</h5>
        </div>

        <div class="container-range">
            <div class="line-range" id="line-edad"></div>
            <input type="range" id="rango-edad-min"  class="range" min="0" max="100" value="30">
            <input type="range" id="rango-edad-max" class="range" min="0" max="100" value="70">
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">FECHA</h5>
        </div>

        <div class="group-fecha">
            <input type="date">
            <div class="line-h"></div>
            <input type="date">              
        </div>

    </div>

    <button class="btn btn-primary btn-block" (click)="ctrl_modal_filtro = !ctrl_modal_filtro">Filtrar</button>

</div>

<app-modales></app-modales>