
<!-- ! FILTRO ========================================== -->
<div class="section-filtro">
    <div class="grid align-self-start">
        <div class="group-input-icon-left">
            <span class="icon icon-search"></span>
            <input type="text" 
                class="input-square" 
                [(ngModel)]="busqueda" 
                (keyup.enter)="Buscar()" 
                (keyup.backspace)="busqueda ==''&&Buscar()"
                placeholder="Buscar"
            >
        </div>
        <p class="text-alert" *ngIf="!VacioU(busqueda)">Presione Enter para buscar</p>
    </div>
    <button class="justify-self-end align-self-start btn btn-square" id="open_filtro" (click)="OpenFiltro()">Filtrar por <span class="icon icon-filter"></span> </button>
</div>

<div>
    <h4 *ngIf="tipo == '1'" >{{usuarios.length}} usuarios bloqueados</h4>
</div>

<!-- ! CONTENIDO ========================================== -->
<div class="grid align-content-start">
    <table>
        <thead>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>EDAD</th>
            <th>CIUDAD/PAIS</th>
            <th>TELEFONO</th>
            <th></th>
            <th></th>
        </thead>

        <tbody *ngIf="usuarios_busqueda.length == 0 && !loading">
            <tr [class]="usuario.status !== null?'sub-red':''"  *ngFor="let usuario of usuarios; let i = index">
                <td> <span> {{usuario.name != null?usuario.name:"No posee"}}</span> </td>
                <td> <span> {{usuario.email != null?usuario.email:"No posee"}}</span> </td>
                <td>   <span>{{GetEdad(usuario.fecha_nac)}}</span> </td>
                <td>  <span>{{usuario.ciudad}}, {{usuario.pais}} </span></td>
                <td> <span>{{usuario.code_phone == '+'  || usuario.code_phone == null  ? 'No posee': '+'+usuario.code_phone }} {{usuario.telefono}} </span></td>
                <td >
                    <button (click)="VerUsuario(usuario)"><i class="icon icon-eyes"></i></button>
                </td>
                <td style="position: relative;">
                    <button (click)="ToggleOptionTable(i+1)" class="btnToggle"><i style="font-size: 5px;" class="icon icon-dots-horizontal"></i></button>
                    <div class="table-options" *ngIf="tipo=='0'" [class]="ctrl_opt == i+1? 'show':'' " [id]="i">
                        <button class="btn-icon" (click)="OpenModalBloqueo(usuario)"> <i class="icon icon-flag"></i> Bloquear cuenta </button>
                        <button class="btn-icon" (click)="OpenModalDelete(usuario)"> <i class="icon icon-trash"></i> Eliminar cuenta </button>
                    </div>
                    <div class="table-options" *ngIf="tipo=='1'" [class]="ctrl_opt == i+1? 'show':'' " [id]="i">
                        <button class="btn-icon" (click)="OpenDes(usuario)"> <i class="icon icon-flag"></i> Desbloquear cuenta </button>
                    </div>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="usuarios_busqueda.length != 0 && !loading">
            <tr [class]="usuario.status !== null?'sub-red':''" *ngFor="let usuario of usuarios_busqueda; let i = index">
                <td>  <span>{{usuario.name != null?usuario.name:"No posee"}}</span></td>
                <td> <span>{{usuario.email != null?usuario.email:"No posee"}}</span> </td>
                <td>  <span>{{GetEdad(usuario.fecha_nac)}}</span> </td>
                <td> <span>{{usuario.ciudad}}, {{usuario.pais}}</span> </td>
                <td><span>{{usuario.code_phone == '+'  || usuario.code_phone == null  ? 'No posee': '+'+usuario.code_phone }} {{usuario.telefono}}</span> </td>
                <td >
                    <button (click)="VerUsuario(usuario)"><i class="icon icon-eyes"></i></button>
                </td>
                <td style="position: relative;">
                    <button (click)="ToggleOptionTable(i+1)" class="btnToggle"><i style="font-size: 5px;" class="icon icon-dots-horizontal"></i></button>
                    <div class="table-options" *ngIf="tipo=='0'" [class]="ctrl_opt == i+1? 'show':'' " [id]="i">
                        <button class="btn-icon" (click)="OpenModalBloqueo(usuario)"> <i class="icon icon-flag"></i> Bloquear cuenta </button>
                        <button class="btn-icon" (click)="OpenModalDelete(usuario)"> <i class="icon icon-trash"></i> Eliminar cuenta </button>
                    </div>
                    <div class="table-options" *ngIf="tipo=='1'" [class]="ctrl_opt == i+1? 'show':'' " [id]="i">
                        <button class="btn-icon" (click)="OpenDes(usuario)"> <i class="icon icon-flag"></i> Desbloquear cuenta </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="loading_tab" class="loading"></div>

<!-- ! MODAL USER ===================================================================================== -->
<div class="container" *ngIf="ctrl_modal_user">
    <div class="card justify-items-center card-user">
        <button (click)="ctrl_modal_user = false" class="btn-icon align-self-start justify-self-end"><i class="icon icon-close"></i></button>

        <div class="grid align-items-end">
            <div class="content-circle-img" style="width: 200px; height: 200px;">
                <div class="circle-img" >
                    <img [src]="'https://backend-ladies.dattatech.com/'+usuario.img_route"  alt="">
                </div>
            </div>
        </div>


        <div class="grid align-self-center align-content-start text-center gap-10">
            <h1 class="font-600"> {{usuario.name != null?usuario.name:"No posee nombre"}} </h1>

            <div class="flex-column gap-10" >
                <h2 style="color:var(--neutro-400)">{{GetEdad(usuario.fecha_nac)}} años</h2>
                <h2 style="color:var(--neutro-400)">{{usuario.ciudad}}, {{usuario.pais}}</h2>
            </div>

            <h3>{{usuario.email != null?usuario.email:"No posee correo"}}</h3>
            <h2>{{usuario.code_phone == '+'  || usuario.code_phone == null  ? 'No posee teléfono': '+'+usuario.code_phone }} {{usuario.telefono}}</h2>
        </div>
    </div>
</div>
        

<!-- ! MODAL DELETE ===================================================================================== -->
<div class="container" *ngIf="ctrl_modal_delete">

    <div class="card  temp-card-delete text-center">
        <button (click)="CloseModalDelete()" class="btn-icon align-self-start justify-self-end"><i class="icon icon-close"></i></button>
        
        <h1 style="line-height: 25px;" class="align-self-center"><i style="font-size: 65px; " class="icon icon-trash"></i></h1>
        
        <!-- ? FASE 1 CONFIRMACION -->
        <div class="grid justify-items-center" *ngIf="ctrl_fase_delete == 0">
            <div class="grid  align-content-start gap-10">
                <h1>Eliminar cuenta</h1>
                <h2 style="color: var(--neutro-400);"> Al eliminar esta cuenta se borrarán todos tus datos, fotos, lista de favoritos, mensajes y demás... de manera permanente y ya no podrá ser recuperado</h2>
            </div>
    
            <div class="grid">
                <button class="btn-delete" (click)="ctrl_fase_delete = 1">Eliminar cuenta</button>
                <button class="btn-cancel" (click)="ctrl_modal_delete = false">Cancelar</button>
            </div>
        </div>

        <!-- ? FASE 2 VALIDACION -->
        <div class="grid" *ngIf="ctrl_fase_delete == 1">
            <h1>Eliminar cuenta</h1>
            <h2 style="color: var(--neutro-400);">Ingresar la contraseña de administrador para continuar </h2>

            <div class="form-group">
                <label for="">Contraseña administrativa </label>
                <input type="password" (keyup)="ValDelete()" [(ngModel)]="clave_delete" placeholder="Contraseña">
                <p class="text-error" *ngIf="error == 1">La contraseña ingresada no es valida</p>
            </div>

            <div class="grid gc-2x-g gap-10">
                <button class="btn btn-cancel" (click)="CloseModalDelete()" >Cancelar</button>
                <button class="btn" [ngClass]="CanDelete ? 'btn-primary' : 'btn-disable'" (click)="(CanDelete && !load) && EliminarCuenta()">Eliminar cuenta <p *ngIf="load" class="icon icon-loader"></p> </button>
            </div>
        </div>

    </div>
    
</div>


<!-- ! MODAL BLOQUEO ===================================================================================== -->
<div class="container" *ngIf="ctrl_modal_bloqueo">
    <div class="card temp-modal-bloqueo justify-items-center text-center">
        <button (click)="CloseModalBloqueo()" class="btn-icon align-self-start justify-self-end"><i class="icon icon-close"></i></button>
        <div class="grid align-content-start gap-10">
            <h1 style="line-height: 25px;" class="align-self-center"><i style="font-size: 65px; " class="icon icon-flag"></i></h1>
            <div class="grid  align-content-start gap-10">
                <h1>¿Estás seguro que deseas <br> bloquear a este usuario?</h1>
            </div>
        </div>

        <div class="grid" *ngIf="!openInputBloqueo">
            <button class="btn-option" (click)="BloquearCuenta($event)">Uso inapropiado de la plataforma</button>
            <button class="btn-option" (click)="BloquearCuenta($event)">Información personal falsa</button>
            <button class="btn-option" (click)="openInputBloqueo = true">Otro</button>
            
        </div>

        <div  class="grid" *ngIf="openInputBloqueo" >
            <h2 *ngIf="usuario.name">Tranquil@, “ {{usuario.name}} ” no lo sabrá</h2>
            <h2 *ngIf="!usuario.name">Tranquil@, el usuario no lo sabrá</h2>
            <div *ngIf="openInputBloqueo" class="form-group">
                <label for=""> Describe “otro motivo” </label>
                <textarea [(ngModel)]="motivo" name="" id="" rows="2"></textarea>
                <button  
                    [class]="VacioU(motivo)?'btn-cancel':'btn-delete' " 
                    (click)="(!VacioU(motivo))&&BloquearCuenta($event)">Continuar</button>
            </div>
        </div>

    </div>
</div>


<!-- ! MODAL DESBLOQUEAR NEGOCIO ================================================= -->

<div class="container" *ngIf="display_des" >
    
    <div class="card temp-card-bloquear text-center">
        <button class="btn-icon align-self-start justify-self-end" (click)="display_des=false;" ><i class="icon icon-close"></i></button>

        <div class="grid align-content-start gap-10">
            <h1 style="line-height: 25px;" class="align-self-center"><i style="font-size: 65px; " class="icon icon-alert"></i></h1>
            <div class="grid  align-content-start gap-10">
                <h1>Desbloquear usuario</h1>
            </div>
            <h2 style="color: var(--neutro-400);"> ¿Estás seguro que deseas desbloquear este usuario?.</h2>
        </div>

        <div class="grid">
            <button class="btn-alert" (click)="DesBloquear()" >Desbloquear usuario</button>
            <button class="btn-cancel" (click)="display_des=false" >Cancelar</button>
        </div>
    </div>

</div>

<div class="modal-filtro" *ngIf="ctrl_modal_filtro" >
    <h3 class="font-500"> <span class="icon icon-filter"></span> Filtrar por</h3>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">ESTADO DE USUARIOS</h5>
        </div>

        <div class="radio-group">
            <input id="a" name="usuario" [(ngModel)]="tipo" [checked]="tipo == '0'" value="0" type="radio">
            <label for="a">Usuarios actuales</label>
        </div>
        <div class="radio-group">
            <input id="b" name="usuario" [(ngModel)]="tipo" [checked]="tipo == '1'"  value="1" type="radio">
            <label for="b">Usuarios bloqueados</label>
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">LOCALIDAD</h5>
        </div>

        <div class="form-group">
            <label for="">Pais </label>
            <select name="" id="">
                <option value="0" selected disabled>Spain</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Estado </label>
            <button class="btn btn-select" (click)="display_estado = true" > {{sel_estado}} <span class="icon icon-chevron-down"></span> </button>
        </div>

        <div class="form-group">
            <label for="">Ciudad </label>
            <button class="btn btn-select" (click)="  display_ciudad = true" > {{sel_ciudad}} <span class="icon icon-chevron-down"></span> </button>
        </div>
    </div>

    <!-- <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">DISTANCIA</h5>
        </div>
        <span>{{km}} km</span>
        <div class="container-range"  >
            <div class="line-range" id="line-distancia" ></div>
            <input type="range"  id="line-km" [(ngModel)]="km" class="range" min="1" max="100" >
        </div>
    </div> -->

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">EDAD</h5>
        </div>
        <h3 style="margin:5px 0px" > {{edad_min }} - {{edad_max}} </h3>
        <div class="container-range">
            <div class="line-range" id="line-edad"></div>
            <input type="range" id="rango-edad-min" [(ngModel)]="edad_min"  class="range" min="18" max="60" value="18">
            <input type="range" id="rango-edad-max" [(ngModel)]="edad_max" class="range" min="18" max="60" value="60">
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">FECHA</h5>
        </div>

        <div class="group-fecha">
            <input type="date" [(ngModel)]="fecha_desde" >
            <div class="line-h"></div>
            <input type="date" [(ngModel)]="fecha_hasta">              
        </div>

    </div>

    <button class="btn btn-primary btn-block" (click)="Filtrar()">Filtrar <p *ngIf="load" class="icon icon-loader"></p> </button>

    
    <!-- ? ESTADO ============================================== -->
    <div class="bg-card fadeIn"  *ngIf="display_estado">
        <div class="card-option onUp" >
            <div class="card-option-header">
                <button class="btn justify-self-end"> <span class="icon"></span> </button>

                <h3 class=" justify-self-center text-center font-600">Estado</h3>

                <button class="btn justify-self-end" (click)="CerrarModal()"> <span class="icon icon-close"></span> </button>
            </div>

            <div class="card-option-search">
                <div class="group-input-icon-left">
                    <!-- <span class="icon icon-search"></span>
                    <input type="text" [(ngModel)]="filtro" (keyup)="filtrar()" placeholder="Buscar"> -->
                </div>
            </div>
            <div *ngIf="loading" class="loading"></div>
            <div class="card-option-body" *ngIf="estado_filtro.length == 0">
                <div class="radio-group" style="justify-content: space-between;" *ngFor="let estado of estados;let i = index">
                    <label [for]="i"> {{estado.state_name}}</label>
                    <input (click)="SelectEstado( estado.state_name)" [id]="i" name="tlf" type="radio">
                </div>
            </div>

            <div class="card-option-body" *ngIf="estado_filtro.length != 0">
                <div class="radio-group" style="justify-content: space-between;" *ngFor="let estado of estado_filtro;let i = index">
                    <label [for]="i"> {{estado.state_name}} </label>
                    <input (click)="SelectEstado( estado.state_name)" [id]="i" name="tlf" type="radio">
                </div>
            </div>

        </div>
    </div>


    <!-- ? CIUDAD ============================================== -->
    <div class="bg-card fadeIn"  *ngIf="display_ciudad">
        <div class="card-option onUp" >
            <div class="card-option-header">
                <button class="btn justify-self-end"> <span class="icon"></span> </button>

                <h3 class=" justify-self-center text-center font-600">Ciudad</h3>

                <button class="btn justify-self-end" (click)="CerrarModal()"> <span class="icon icon-close"></span> </button>
            </div>

            <div class="card-option-search">
                <div class="group-input-icon-left">
                    <!-- <span class="icon icon-search"></span>
                    <input type="text" [(ngModel)]="filtro" (keyup)="filtrar()" placeholder="Buscar"> -->
                </div>
            </div>

            <div *ngIf="loading" class="loading"></div>

            <h2 class="text-center" *ngIf="ciudades.length == 0">No posee, continue a la siguiente fase</h2>
            <div class="card-option-body" *ngIf="ciudad_filtro.length == 0">
                <div class="radio-group" style="justify-content: space-between;" *ngFor="let ciudad of ciudades;let i = index">
                    <label [for]="i"> {{ciudad.city_name}}</label>
                    <input (click)="SelectCiudad( ciudad.city_name)" [id]="i" name="tlf" type="radio">
                </div>
            </div>

            <div class="card-option-body" *ngIf="ciudad_filtro.length != 0">
                <div class="radio-group" style="justify-content: space-between;" *ngFor="let ciudad of ciudad_filtro;let i = index">
                    <label [for]="i"> {{ciudad.city_name}} </label>
                    <input (click)="SelectCiudad( ciudad.city_name)" [id]="i" name="tlf" type="radio">
                </div>
            </div>

        </div>
    </div>


</div>

<app-modales></app-modales>

<div class="container"  *ngIf="loading">
    <div  class="loading align-self-center" > </div>
</div>