<div class="temp-main">

    <p class="align-self-center">Market vip / <span class="color-primary"> Masajes Happy End</span></p>

    <button class="btn-return" (click)="CerrarShow()"><span class="icon icon-arrow-left"></span></button>

    <div class="grid align-items-center gc-2x-g">
        <h1 class="title">Masajes Happy End</h1>

        <button class=" justify-self-end btn-primary-invert">Editar</button>

        <h3 class="font-500">Categoría: Masajes</h3>
    </div>

    <div class="temp-main-info">

        <div class="section-left">

            <div class="title-line">
                <h4>NEGOCIOS PUBLICADOS</h4>
            </div>

            <div class="group-negocios">

                <div class="card-negocio">
                    <div class="card-negocio-imagen">
                        <img src="../../../../../../assets/imagenes/masajes.jpg" alt="">
                    </div>

                    <div class="grid align-content-center gap-10">
                        <h3>Nombre del negocio</h3>
                        <h4> <i class="icon icon-location"></i> Sevilla</h4>
                    </div>

                    <div class="grid align-content-center">
                        <button class="btn-chevron"> <i class="icon icon-chevron-right"></i> </button>
                    </div>

                </div>

                <div class="card-negocio">
                    <div class="card-negocio-imagen">
                        <img src="../../../../../../assets/imagenes/masajes.jpg" alt="">
                    </div>

                    <div class="grid align-content-center gap-10">
                        <h3>Nombre del negocio</h3>
                        <h4> <i class="icon icon-location"></i> Sevilla</h4>
                    </div>

                    <div class="grid align-content-center">
                        <button class="btn-chevron"> <i class="icon icon-chevron-right"></i> </button>
                    </div>

                </div>

                <button class="btn-crear-negocio"> + Crear negocio</button>
            </div>

        </div>

        <div class="section-center">
        </div>

        <div class="section-rigth">
            <div class="nav-component">
                <button id="show_titular" (click)="nav('show_titular', 0)">Titular</button>
                <button id="show_negocio" (click)="nav('show_negocio', 1)">Inf. negocio</button>
                <button id="show_lugar" (click)="nav('show_lugar', 2)">Inf. lugar</button>
                <button id="show_foto" (click)="nav('show_foto', 3)">Fotos</button>
            </div>
        </div>

    </div>

</div> 


