<div class="section-filtro">
    <div class="flex-d-row align-items-center gap-10">
        <div class="group-input-icon-left">
            <span class="icon icon-search"></span>
            <input 
                type="text" 
                class="input-square" 
                placeholder="Buscar"
                [(ngModel)]="busqueda" 
                (keyup.enter)="Buscar()" 
                (keyup.backspace)="busqueda ==''&&Buscar()"
            >

        </div>
        <button class="btn btn-square" id="open_filtro" (click)="display_filtro =true" >Filtrar <span class="icon icon-filter"></span> </button>
    </div>

    <button class="btn-primary-invert" (click)="OpenNew()">Agregar negocio</button>

</div>

<div class="grid align-content-start" *ngIf="!display_show" >
    <table>
        <thead>
            <th>NOMBRE DEL NEGOCIO</th>
            <th>EMAIL</th>
            <th>TELEFONO</th>
            <th>LUGAR</th>
            <th></th>
            <th></th>
        </thead>

        <tbody *ngIf="negocios_busqueda.length == 0 && !loading_tab">
            <tr *ngFor="let negocio of negocios.data; let i = index">
                <td> {{negocio.nombre}} </td>
                <td>{{negocio?.user?.email ? negocio?.user?.email: negocio?.user_email}}</td>
                <td>+{{negocio?.user?.code_phone}} {{negocio?.telefono}}</td>
                <td>{{negocio?.estado}}, {{negocio?.pais}}</td>
                <td >
                    <button (click)="OpenShow(negocio)"><i class="icon icon-eyes"></i></button>
                </td>
                <td style="position: relative;">
                    <button (click)="ToggleOptionTable(i+1)" class="btnToggle" ><i style="font-size: 5px;" class="icon icon-dots-horizontal "></i></button>
                    <div class="table-options"  [class]="ctrl_opt == i+1? 'show':'' "  [id]="i">
                        <button class="btn-icon" (click)="OpenEditNegocio(negocio)"> <i class="icon icon-square-edit"></i> Editar negocio </button>
                        <button class="btn-icon" (click)="OpenModalBloqueo(negocio)"> <i class="icon icon-alert"></i> Bloquear negocio </button>
                    </div>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="negocios_busqueda.length != 0 && !loading_tab">
            <tr *ngFor="let negocio of negocios_busqueda; let i = index">
                <td> {{negocio.nombre}} </td>
                <td>{{negocio?.user?.email ? negocio?.user?.email: negocio?.user_email}}</td>
                <td>+{{negocio?.user?.code_phone}} {{negocio?.telefono}}</td>
                <td>{{negocio?.estado}}, {{negocio?.pais}}</td>
                <td >
                    <button (click)="OpenShow(negocio)"><i class="icon icon-eyes"></i></button>
                </td>
                <td style="position: relative;">
                    <button (click)="ToggleOptionTable(i+1)" class="btnToggle" ><i style="font-size: 5px;" class="icon icon-dots-horizontal "></i></button>
                    <div class="table-options"  [class]="ctrl_opt == i+1? 'show':'' "  [id]="i">
                        <button class="btn-icon" (click)="OpenEditNegocio(negocio)"> <i class="icon icon-square-edit"></i> Editar negocio </button>
                        <button class="btn-icon" (click)="OpenModalBloqueo(negocio)"> <i class="icon icon-alert"></i> Bloquear negocio </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="loading_tab" class="loading"></div>


<!-- ! MODAL AGREGAR NEGOCIO ================================================= -->

<div class="container" *ngIf="ctrl_modal_negocio">
    
    <div class="card temp-crear">
        <div class="header-card">
            <h2 class="font-500">Crear negocio</h2>
            <button class="btn-icon align-self-start justify-self-end" (click)="CloseModalCrear()" ><i class="icon icon-close"></i></button>
        </div>
    
        <!-- ? FASE 1 ======================================== -->
        <div class="temp-crear-body" *ngIf="fase_modal_negocio == 0">
            <h3>Información personal sobre el dueño de negocio</h3>

            <div>
                <div class="form-group">
                    <label for="">Nombre </label>
                    <input type="text"  placeholder="Ingrese un nombre">
                </div>
    
                <div class="form-group">
                    <label for="">Email </label>
                    <input type="text"  placeholder="hola@gmail.com">
                </div>               
            </div>


            <button class="btn  btn-disable btn-block" (click)="fase_modal_negocio = 1">Comenzar</button>
        </div>

        <!-- ? FASE 2 ======================================== -->

        <div class="temp-crear-body" *ngIf="fase_modal_negocio != 0">
            <div class="grid flex-column" style="justify-content: space-between;">
                <h4>PASO {{paso_modal_negocio}} </h4>

                <div class="flex-column">
                    <div  [class]="paso_modal_negocio == 1?'circle':'circle-disable'"></div>
                    <div  [class]="paso_modal_negocio == 2?'circle':'circle-disable'"></div>
                    <div  [class]="paso_modal_negocio == 3?'circle':'circle-disable'"></div>
                </div>
            </div>


            <!-- ? PASO 1 ======================================== -->

            <div class="grid gap-20" *ngIf="paso_modal_negocio == 1">
                <h3 class="align-self-start">Ingresar información sobre el negocio</h3>
                
                <div>
                    <div class="form-group">
                        <label for="">Nombre del negocio </label>
                        <input type="text" placeholder="Ingresar un nombre">
                    </div>
        
                    <div class="form-group">
                        <label for="">Categoría</label>
                        <select name="" id=""></select>
                    </div>
        
                    <div class="form-group">
                        <label for="">WhatsApp (negocio)</label>
                        <input type="text" placeholder="+34 ">
                    </div>
                    
                    <div class="form-group">
                        <label for="">Sitio web</label>
                        <input type="text" placeholder="www.">
                    </div>

                    <div class="form-group">
                        <label for="">Descripción</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>

                <button class="btn-block btn-primary justify-content-center" (click)="paso_modal_negocio = 2"> Siguiente <i class="icon icon-arrow-right"></i> </button>
            </div>


            <!-- ? PASO 2 ======================================== -->

            <div class="grid gap-20" *ngIf="paso_modal_negocio == 2">
                <h3 class="align-self-start">Ingresar información del lugar</h3>
                
                <div>
                    <div class="form-group">
                        <label for="">Dirección </label>
                        <input type="text" placeholder="Ingrese una dirección">
                    </div>

                    <div class="form-group">
                        <label for="">País </label>
                        <select name=""  id="">
                            <option value="0" disabled>Seleccionar</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Lugar </label>
                        <select name=""  id="">
                            <option value="0" disabled>Seleccionar</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Sitio web </label>
                        <input type="text" placeholder="Ingrese una dirección">
                    </div>

                    <div class="form-group">
                        <label for="">Ubicar dentro del mapa</label>
                        <div class="content-map">
                        </div>
                    </div>

                    <div class="grid gc-2x-g gap-10">
                        <div class="form-group">
                            <label for="">Coordenadas</label>
                            <input type="text" placeholder="Latitud">
                        </div>

                        <div class="form-group">
                            <label for="">Coordenadas</label>
                            <input type="text" placeholder="Longitud">
                        </div>
                    </div>
                </div>

                <button class="btn-primary justify-self-end" (click)="paso_modal_negocio = 3"> Siguiente <i class="icon icon-arrow-right"></i> </button>
            </div>


            <!-- ? PASO 3 ======================================== -->

            <div class="grid gap-20" *ngIf="paso_modal_negocio == 3">
                <h3 class="align-self-start">Ingresar imagenes que identifiquen al negocio</h3>
                
                <div class="content-group-image">
                    <div class="content-img">

                    </div>

                    <div class="carousel-image">
                        <div class="content-img"></div>

                        <div class="content-img"></div>
                        
                        <div class="content-img"></div>
                    </div>
                </div>

                <button class="btn-primary-invert justify-self-start" (click)="PublicarNegocio()"> Siguiente <i class="icon icon-arrow-right"></i> </button>
            </div>
        </div>

    </div>

</div>



<!-- ! MODAL EDITAR NEGOCIO ================================================= -->

<div class="container" *ngIf="ctrl_modal_editar">
    
    <div class="card temp-crear">
        <div class="header-card">
            <h2 class="font-500">Crear negocio</h2>
            <button class="btn-icon align-self-start justify-self-end" (click)="CloseModalEdit()" ><i class="icon icon-close"></i></button>
        </div>
    


        <div class="temp-crear-body">
            <div class="grid flex-column" style="justify-content: space-between;">
                <h4>PASO {{paso_modal_editar}} </h4>

                <div class="flex-column">
                    <div  [class]="paso_modal_editar == 1?'circle':'circle-disable'"></div>
                    <div  [class]="paso_modal_editar == 2?'circle':'circle-disable'"></div>
                    <div  [class]="paso_modal_editar == 3?'circle':'circle-disable'"></div>
                </div>
            </div>


            <!-- ? PASO 1 ======================================== -->

            <div class="grid gap-20" *ngIf="paso_modal_editar == 1">
                <h3 class="align-self-start">Ingresar información sobre el negocio</h3>
                
                <div>
                    <div class="form-group">
                        <label for="">Nombre del negocio </label>
                        <input type="text" placeholder="Ingresar un nombre">
                    </div>
        
                    <div class="form-group">
                        <label for="">Categoría</label>
                        <select name="" id=""></select>
                    </div>
        
                    <div class="form-group">
                        <label for="">WhatsApp (negocio)</label>
                        <input type="text" placeholder="+34 ">
                    </div>
                    
                    <div class="form-group">
                        <label for="">Sitio web</label>
                        <input type="text" placeholder="www.">
                    </div>

                    <div class="form-group">
                        <label for="">Descripción</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>

                <button class="btn-block btn-primary justify-content-center" (click)="paso_modal_editar = 2"> Siguiente <i class="icon icon-arrow-right"></i> </button>
            </div>


            <!-- ? PASO 2 ======================================== -->

            <div class="grid gap-20" *ngIf="paso_modal_editar == 2">
                <h3 class="align-self-start">Ingresar información del lugar</h3>
                
                <div>
                    <div class="form-group">
                        <label for="">Dirección </label>
                        <input type="text" placeholder="Ingrese una dirección">
                    </div>

                    <div class="form-group">
                        <label for="">País </label>
                        <select name=""  id="">
                            <option value="0" disabled>Seleccionar</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Lugar </label>
                        <select name=""  id="">
                            <option value="0" disabled>Seleccionar</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Sitio web </label>
                        <input type="text" placeholder="Ingrese una dirección">
                    </div>

                    <div class="form-group">
                        <label for="">Ubicar dentro del mapa</label>
                        <div class="content-map">
                        </div>
                    </div>

                    <div class="grid gc-2x-g gap-10">
                        <div class="form-group">
                            <label for="">Coordenadas</label>
                            <input type="text" placeholder="Latitud">
                        </div>

                        <div class="form-group">
                            <label for="">Coordenadas</label>
                            <input type="text" placeholder="Longitud">
                        </div>
                    </div>
                </div>

                <button class="btn-primary justify-self-end" (click)="paso_modal_editar = 3"> Siguiente <i class="icon icon-arrow-right"></i> </button>
            </div>


            <!-- ? PASO 3 ======================================== -->

            <div class="grid gap-20" *ngIf="paso_modal_editar == 3">
                <h3 class="align-self-start">Ingresar imagenes que identifiquen al negocio</h3>
                
                <div class="content-group-image">
                    <div class="content-img">

                    </div>

                    <div class="carousel-image">
                        <div class="content-img"></div>

                        <div class="content-img"></div>
                        
                        <div class="content-img"></div>
                    </div>
                </div>

                <button class="btn-primary-invert justify-self-start" (click)="EditarNegocio()"> Siguiente <i class="icon icon-arrow-right"></i> </button>
            </div>
        </div>

    </div>

</div>



<!-- ! MODAL BLOQUEAR NEGOCIO ================================================= -->

<div class="container" *ngIf="ctrl_modal_bloquear">
    
    <div class="card temp-card-bloquear text-center">
        <button class="btn-icon align-self-start justify-self-end" (click)="CloseModalBloqueo()" ><i class="icon icon-close"></i></button>

        <div class="grid align-content-start gap-10">
            <h1 style="line-height: 25px;" class="align-self-center"><i style="font-size: 65px; " class="icon icon-alert"></i></h1>
            <div class="grid  align-content-start gap-10">
                <h1>Bloquear negocio</h1>
            </div>
            <h2 style="color: var(--neutro-400);"> ¿Estás seguro que deseas bloquear esta negocio? Al continuar la información del negocio no se mostrará en el Market Vip.</h2>
        </div>

        <div class="grid">
            <button class="btn-delete"(click)="BloquearNegocio()" >Bloquear negocio</button>
            <button class="btn-cancel" (click)="CloseModalBloqueo()">Cancelar</button>
        </div>
    </div>

</div>


<app-modales></app-modales>

<app-admin-market-publicados-show *ngIf="display_show" (BoolShow)="CerrarShow($event)"></app-admin-market-publicados-show>

<app-create-market *ngIf="display_create" (Cerrar)="CloseModalEdit()" ></app-create-market>

<div class="container"  *ngIf="loading">
    <div  class="loading align-self-center" > </div>
</div>


<div class="modal-filtro" *ngIf="display_filtro" >
    <h3 class="font-500"> <span class="icon icon-filter"></span> Filtrar por</h3>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">TIPO DE NEGOCIO</h5>
        </div>

        <div class="form-group">
            <label for="">Categoría</label>
            <select name="" [(ngModel)]="sel_categoria"  id="">
                <option value="0">Masajes eróticos</option>
                <option value="1">Juguetes sexuales</option>
                <option value="2">Espacios sexuales</option>
                <option value="3">Agencia matrimonial</option>
                <option value="4">Otros</option>
            </select>
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">LOCALIDAD</h5>
        </div>

        <div class="form-group">
            <label for="">Pais </label>
            <select name="" id="">
                <option value="0" selected disabled>Spain</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Estado </label>
            <button class="btn btn-select" (click)="display_estado = true" > {{sel_estado}} <span class="icon icon-chevron-down"></span> </button>
        </div>

        <div class="form-group">
            <label for="">Ciudad </label>
            <button class="btn btn-select" (click)="  display_ciudad = true" > {{sel_ciudad}} <span class="icon icon-chevron-down"></span> </button>
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">FECHA</h5>
        </div>

        <div class="group-fecha">
            <input type="date" [(ngModel)]="fecha_desde" >
            <div class="line-h"></div>
            <input type="date" [(ngModel)]="fecha_hasta">              
        </div>
    </div>

    <button class="btn btn-primary btn-block" (click)="Filtrar()">Filtrar <span *ngIf="load" class="icon icon-loader"></span> </button>


    <!-- ? ESTADO ============================================== -->
    <div class="bg-card fadeIn"  *ngIf="display_estado">
        <div class="card-option onUp" >
            <div class="card-option-header">
                <button class="btn justify-self-end"> <span class="icon"></span> </button>

                <h3 class=" justify-self-center text-center font-600">Estado</h3>

                <button class="btn justify-self-end" (click)="CerrarModal()"> <span class="icon icon-close"></span> </button>
            </div>

            <div class="card-option-search">
                <div class="group-input-icon-left">
                    <!-- <span class="icon icon-search"></span>
                    <input type="text" [(ngModel)]="filtro" (keyup)="filtrar()" placeholder="Buscar"> -->
                </div>
            </div>
            <div *ngIf="load_sel" class="loading"></div>
            <div class="card-option-body" *ngIf="estado_filtro.length == 0">
                <div class="radio-group" style="justify-content: space-between;" *ngFor="let estado of estados;let i = index">
                    <label [for]="i"> {{estado.state_name}}</label>
                    <input (click)="SelectEstado( estado.state_name)" [id]="i" name="tlf" type="radio">
                </div>
            </div>

            <div class="card-option-body" *ngIf="estado_filtro.length != 0">
                <div class="radio-group" style="justify-content: space-between;" *ngFor="let estado of estado_filtro;let i = index">
                    <label [for]="i"> {{estado.state_name}} </label>
                    <input (click)="SelectEstado( estado.state_name)" [id]="i" name="tlf" type="radio">
                </div>
            </div>

        </div>
    </div>


    <!-- ? CIUDAD ============================================== -->
    <div class="bg-card fadeIn"  *ngIf="display_ciudad">
        <div class="card-option onUp" >
            <div class="card-option-header">
                <button class="btn justify-self-end"> <span class="icon"></span> </button>

                <h3 class=" justify-self-center text-center font-600">Ciudad</h3>

                <button class="btn justify-self-end" (click)="CerrarModal()"> <span class="icon icon-close"></span> </button>
            </div>

            <div class="card-option-search">
                <div class="group-input-icon-left">
                    <!-- <span class="icon icon-search"></span>
                    <input type="text" [(ngModel)]="filtro" (keyup)="filtrar()" placeholder="Buscar"> -->
                </div>
            </div>

            <div *ngIf="load_sel" class="loading"></div>

            <h2 class="text-center" *ngIf="ciudades.length == 0">No posee, continue a la siguiente fase</h2>
            <div class="card-option-body" *ngIf="ciudad_filtro.length == 0">
                <div class="radio-group" style="justify-content: space-between;" *ngFor="let ciudad of ciudades;let i = index">
                    <label [for]="i"> {{ciudad.city_name}}</label>
                    <input (click)="SelectCiudad( ciudad.city_name)" [id]="i" name="tlf" type="radio">
                </div>
            </div>

            <div class="card-option-body" *ngIf="ciudad_filtro.length != 0">
                <div class="radio-group" style="justify-content: space-between;" *ngFor="let ciudad of ciudad_filtro;let i = index">
                    <label [for]="i"> {{ciudad.city_name}} </label>
                    <input (click)="SelectCiudad( ciudad.city_name)" [id]="i" name="tlf" type="radio">
                </div>
            </div>

        </div>
    </div>
</div>


