.temp-crear{
    min-width: 440px;
    max-width: 440px;
    width: 440px;
    min-height: 420px;
}

.temp-crear-body{
    display: grid;
    padding: 20px 10px;
    grid-gap: 20px;
    max-height: 90vh;
    overflow: auto;
}


.circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primario-rosa-2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle-disable{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--neutro-300);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



.content-map{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color:var(--neutro-100);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content-group-image{
    display: grid;
    grid-gap: 15px;
}

.content-img{
    width: 100%;
    height: 300px;
    background-color: var(--neutro-100);
    border-radius: 8px;
    outline: 2px dashed var(--neutro-300);
    outline-offset: -10px;
    position: relative;
    display: grid;
    cursor: pointer;
}

.content-img::after{
    position: absolute;
    content: "+";
    font-size: 3em;
    font-weight: 200;
    color: var(--neutro-400);
    place-self: center;
}

.carousel-image{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    justify-content: space-between;
}

.carousel-image .content-img{
    width: 110px;
    height: 95px;
}

.temp-card-bloquear{
    max-width: 315px;
}

.btn-delete, .btn-cancel, .btn-option{
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    color: var(--alerts-error);
}

.btn-cancel{
    color: var(--neutro-500);
}



.content-map{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color:var(--neutro-100);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content-group-image{
    display: grid;
    grid-gap: 15px;
}

.content-img{
    width: 100%;
    height: 300px;
    background-color: var(--neutro-100);
    border-radius: 8px;
    outline: 2px dashed var(--neutro-300);
    outline-offset: -10px;
    position: relative;
    display: grid;
    cursor: pointer;
}

.content-img::after{
    position: absolute;
    content: "+";
    font-size: 3em;
    font-weight: 200;
    color: var(--neutro-400);
    place-self: center;
}

.carousel-image{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    justify-content: space-between;
}

.carousel-image .content-img{
    width: 110px;
    height: 95px;
}

.show{
    display: grid !important;
}

.btn-select{
    border: 1px solid var(--neutro-300) !important;
    span{
        font-size: 6px !important;
        color: var(--neutro-500) !important;
    }
    justify-content: space-between; 
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    min-height: 45px;
    color: var(--neutro-500) !important;

    *{
        color: var(--neutro-500) !important;
    }
}

.card-option{
    bottom: auto !important;
    position: fixed !important;
    width: 330px !important;

    &-body{
        max-height: calc(80vh - 200px) !important;
    }
}