<div class="container" *ngIf="isOpen">

    <div class="card" *ngIf="!load_recoverypass; else temp_recovery">
        <button (click)="Cerrar()" class="btn-icon align-self-start justify-self-end"><i
                class="icon icon-close"></i></button>

        <div class="temp-login">
            <div class="subcard-18">
                <h1>+18</h1>
                <h5>MAYORES DE EDAD</h5>
            </div>

            <div class="section-login-left">
                <div class="grid" style="grid-gap:20px">
                    <h1 class="login-title">Iniciar sesión</h1>
                    <h5 class="">
                        Al iniciar sesión en Ladies Vip estás aceptando continuar de acuerdo a nuestros
                        <a href=""> Términos y condiciones</a> y con nuestra
                        <a href=""> Política de Privacidad</a>
                    </h5>
                </div>

                <div class="grid justify-items-center gap-20">
                    <h3 class="text-center">Continuar con</h3>
                    <div class="group-logins">
                        <button class="btn-type-login" (click)="signInWithFB()"> <img src="../../assets/imagenes/Facebook.png" alt=""> </button>
                        <button class="btn-type-login" (click)="signInWithGoogle()"> <img src="../../assets/imagenes/Google.png" alt=""> </button>
                        <button class="btn-type-login" (click)="OpenModalSms()"> <img src="../../assets/imagenes/Phone.png" alt=""> </button>
                    </div>
                </div>

                <div class="display-column">
                    <h5>¿Aún no tienes una cuenta?</h5>
                    <button class="btn-link" (click)="OpenSignUp()">Crear cuenta</button>
                </div>
            </div>

            <div class="section-login-center">
                <div class="line"></div>
                <div class="circle">
                    <h4>O</h4>
                </div>
                <div class="line"></div>
            </div>

            <div class="section-login-right">
                <div *ngIf="error == 1" class="card-danger flex-d-row gap-10">
                    <span class="icon icon-circle-warning"></span>
                    <p>No estás registrado. Crea una cuenta para poder comenzar en Ladies VIP.</p>
                </div>
                <div>
                    <div class="form-group">
                        <div class="group-input-icon-right">
                            <span class="icon icon-circle-close" *ngIf="error == 2"></span>
                            <label for="">Email </label>
                            <input type="text" [ngClass]="error==2?'input-error':''" [(ngModel)]="usuario.datos.correo" (keyup)="ValAcceso()" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="group-input-icon-right">
                            <span class="icon icon-circle-close" *ngIf="error == 2"></span>
                            <span class="icon" [ngClass]="viewPass?'icon-eyes':'icon-eyes-close'" (click)="tooglePass()" ></span>
                            <label for="">Contraseña </label>
                            <input type="password" 
                                id="password"
                                [(ngModel)]="usuario.datos.clave" 
                                (keyup)="ValAcceso()" 
                                placeholder="Contraseña"
                                [ngClass]="error==2?'input-error':''"
                            >
                        </div>
                        <p class="text-error" *ngIf="error == 2">Las credenciales ingresadas son incorrectas</p>
                    </div>

                    <div class="checkbox-group">
                        <input type="checkbox" checked="true" id="session-open">
                        <label for="session-open"> Recordar Contraseña</label>
                    </div>
                </div>
                <button
                    class="btn btn-block"
                    [ngClass]="habLogin?'btn-primary':'btn-disable'"
                    (click)="(!loading) && LogIn()"
                >Iniciar sesión <span *ngIf="loading" class="icon icon-loader"></span> </button>

                <button class="btn-recovery" (click)="load_recoverypass = true">Olvidé mi contraseña</button>

            </div>
        </div>
    </div>

    <ng-template #temp_recovery>
        <app-recoverypass (ExportClose)="CloseRecovery($event)" *ngIf="load_recoverypass"></app-recoverypass>
    </ng-template>
</div>


<!-- ! MODAL SMS ======================================================================= -->
<app-sms [importTipo]="1" (exportRes)="LoginSms($event)"></app-sms>