:root{
    --secondary-900:  #1F2C38; 
    --secondary-800: #35414C;
    --secondary-700: #4C5660;
    --secondary-600: #626B74;

    --primario-default: linear-gradient(135deg, #F6C056 0%, #F65555 49.48%, #CC295F 100%);
    --primario-disabled: linear-gradient(135deg, rgba(255, 194, 77, 0.64) 0%, rgba(255, 77, 77, 0.64) 51.45%, rgba(204, 41, 95, 0.64) 100%);
    --primario-rosa-2: #FF3C76;

    --neutro-900:#0D0D0D;
    --neutro-800:#2E2E2E;
    --neutro-700:#4B4B4B;
    --neutro-600:#5E5E5E;
    --neutro-500:#858585;
    --neutro-400:#A6A6A6;
    --neutro-300:#CCCCCC;
    --neutro-200:#DFDFDF;
    --neutro-100:#ECECEC;
    --neutro-50:#F6F6F6;
    --white:#FFFFFF;

    --alerts-error:#F24747;
    --alerts-success:#10B981;
    --alerts-info:#3B82F6;
    --alerts-warning:#F59E0B;

    --yellow:#FFC24D;
    --orange: #FF4D4D;
    --morado: #CC295F;

    --degradado-azul: linear-gradient(142.46deg, #567BFF 8.83%, #4F95FF 97.83%);
    --degradado-amarillo: linear-gradient(122.24deg, #F2D862 6.2%, #EBA046 69.82%);
    --degradado-verde: linear-gradient(180deg, #73ECA8 0%, #0CBA9D 100%);
    --degradado-violeta: linear-gradient(122.24deg, #997CE8 6.2%, #6DA4EC 69.82%);
    --degradado-rosa: linear-gradient(122.24deg, #FB82C9 6.2%, #FF9478 69.82%);

    --background:transparent !important;
    --ion-toolbar-background: transparent !important;
}

@font-face {
	font-family: 'Ubuntu';
	src: url("../font/Ubuntu-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: 'Ubuntu';
	src: url("../font/Ubuntu-Regular.ttf");
	font-weight: normal;

}
@font-face {
	font-family: 'Ubuntu';
	src: url("../font/Ubuntu-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: 'Ubuntu';
	src: url("../font/Ubuntu-Bold.ttf");
	font-weight: 600;
}

[hidden] {
    display: none !important;
}

*{
	font-family: Ubuntu;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;	
	font-weight:400;
	color: var(--neutro-700);
	font-size: 14px;
    scrollbar-width: thin !important;
    scrollbar-color: #FF3C76 rgba(69,69,69,.09) !important;

    *::-webkit-scrollbar {
        width: 7px !important;
        height: 7px;
    }
    
    *::-webkit-scrollbar-track {
    background: rgba(69,69,69,.09);
    }
    
    *::-webkit-scrollbar-thumb {
    background-color: #FF3C76;
    border-radius: 20px;
    // border: 3px solid rgba(69,69,69,.09);
    }
}
html{
	height:100%;
    scrollbar-width: thin !important;
    scrollbar-color: #FF3C76 rgba(69,69,69,.09) !important;
}

body{
    display: grid;
	min-height: 100%;
	font-family: Ubuntu;
	font-size: 14px;
	line-height: 16px;
	color: var(--neutro-700);
    scrollbar-width: thin !important;
    scrollbar-color: #FF3C76 rgba(69,69,69,.09) !important;
}

.gap-10{
    grid-gap: 10px !important;
}
.gap-20{
    grid-gap: 20px !important;
}

.flex-column{
    display: flex;
    flex-wrap:wrap;
    grid-gap: 5px;
}

/* * 
*   ###################### COMPONENTES ##################################### 
* */

h1,h2,h3,h4{margin: 0px; padding: 0px;}
h1{font-size: 22px; line-height: 22px;}
h2{font-size: 18px; line-height: 22px}
h3{font-size: 16px;}
h4{font-size: 14px;}
h5{font-size: 12px; line-height: 18px;}

label{ 
    font-weight: 500 !important; 
    font-size: 14px !important;  
    color: var(--neutro-500);
}

input,select, textarea{
    background: #FFFFFF;
    border: 1px solid var(--neutro-300);
    box-sizing: border-box;
    border-radius: 100px;
    height: 40px;
    padding: 10px 15px;
    color: var(--neutro-800);
    width: 100%;
    outline: none;
    margin: 5px 0px;
}
textarea{
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

select{
    cursor: pointer;
}

input[type=checkbox]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    padding: 0px;
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: 1.5px solid #A6A6A6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
input[type=checkbox]:checked{
    width: 15px;
    height: 15px;
    padding: 0px;
    position: relative;
    outline: 1.5px solid var(--primario-rosa-2);
}
input[type=checkbox]:checked+label{
    color: var(--primario-rosa-2);
}
input[type=checkbox]:checked:before{
    width: 15px;
    height: 5px;
    margin-left: 1px;
    position: absolute;
    top: -3px;
    padding: 0px;
    content: '✔';
    font-size: 14px;
    color: var(--primario-rosa-2);
}


input[type=checkbox].check-button{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 55px;
    height: 32px;
    padding: 0px;
    background-color: white;
    border-radius: 25px;
    outline: 1px solid #A6A6A6;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: var(--neutro-100);
    position: relative;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

input[type=checkbox].check-button:before{
    width: 25px;
    top: 2px;
    left: 2.5px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    background: white;
    padding: 0px;
    content: "";
    color: var(--primario-rosa-2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.25s ease 0.25s;
}


input[type=checkbox].check-button:checked{
    position: relative;
    outline: 1.5px solid var(--primario-rosa-2);
    background: var(--primario-rosa-2);
}
input[type=checkbox]:checked+label{
    color: var(--primario-rosa-2);
}
input[type=checkbox].check-button:checked:before{
    width: 25px;
    top: 2px;
    height: 25px;
    left: 21px;
    position: absolute;
    border-radius: 50%;
    background: white;
    padding: 0px;
    content: "";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

input[type=radio]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    padding: 0px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    outline: 1.5px solid #A6A6A6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

input[type=radio]:checked{
    width: 18px;
    height: 18px;
    padding: 0px;
    position: relative;
    background-color:var(--primario-rosa-2);
    outline: none;
    border: 2px solid var(--primario-rosa-2);
}
input[type=radio]:checked+label{
    color: var(--primario-rosa-2);
}

input[type=radio]:checked:before{
    content: '';
    align-self: center;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    padding: 0px;
    font-size: 14px;
    background-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.group-input-icon-left,.group-input-icon-right{
    position: relative;
    display: grid;
    align-items: center;
}
.group-input-icon-left>span{
    position: absolute;
    left: 10px;
    font-size: 16px;
}
.group-input-icon-left>input{
    padding-left: 35px;
}

.group-input-icon-right>span{
    position: absolute;
    right: 10px;
}

.group-input-icon-right>input{
    padding-right: 35px;
}


/* * 
*   ###################### FUENTES ##################################### 
* */

.font-300{
	font-weight: 300 !important;
}
.font-400{
	font-weight: 400 !important;
}
.font-500{
	font-weight: 500 !important;
}
.font-600{
	font-weight: 600 !important;
}

.icon{
    color: inherit !important;
}

.container{
    display: grid;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.44);
    backdrop-filter: blur(6px);
    &-lateral{
        @extend .container;
        position: absolute !important;
        place-content: center !important;
        z-index: 10;
    }
    z-index: 10;
    backdrop-filter: blur(6px);
}

.place-content-center{
    place-content: center;
}

/* * ###################### COLORS ###################################################### */

.text-white{
    color: white !important;
}
.text-error{
    color: var(--alerts-error) !important;
}

.text-alert{
    color: var(--alerts-info) !important;
}

.text-primary{
    color: var(--primario-rosa-2) !important;

}

/* * ###################### BOTONES ##################################################### */

.btn, .btn-primary, .btn-secondary,.btn-primary-invert, .btn-disable{
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.12);
    color: white;
    cursor: pointer;
    padding: 11px 18px;
    max-height: 45px;
    border-radius: 100px;
    width: max-content;
    min-width: max-content;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: all .15s;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    display: flex;
    flex-wrap:wrap;
    grid-gap: 7px;
    justify-content: center;
    align-items: center;
}


.btn-simple, .btn-simple-active{
    background: none;
    border: none;
    width: max-content;
    color: white;
    padding: 5px;
    height: max-content;
    cursor: pointer;
    transition: all .15s;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
}

.btn-simple:hover{
    color: var(--morado);
}

.btn-simple-active{
    color: var(--primario-rosa-2);
}

.btn-primary{
    background-color: var(--primario-rosa-2);
    color: white !important;
    box-shadow: 0px 2px 12px rgba(255, 60, 118, 0.36);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    
}

.btn-primary:hover{
    background-color: var(--primario-rosa-2);
    color: white !important;
    box-shadow: 0px 2px 20px rgba(255, 60, 118, 0.36);
    transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
}

.btn-primary-invert{
    background-color:white ;
    color: var(--primario-rosa-2) !important;
    outline: 1px solid var(--primario-rosa-2);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}


.btn-link{
    background:none;
    border: none;
    color: var(--primario-rosa-2) !important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.btn-icon{
    background: none;
    border:none;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    padding: 5px;
    cursor: pointer;
    color: var(--neutro-700) !important;
    width: max-content;
}

.btn-block{
    width: 100%;
}

.btn-disable{
    background-color: var(--neutro-300) !important;
}
.btn-disable:hover{
    background-color: var(--neutro-400) !important;
    box-shadow: none;
    cursor: not-allowed;
}

.group-logins{
    display: grid;
    grid-auto-flow: column;
    grid-gap:10px
}

.btn-type-login{
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
}
.btn-circle{
    width: 60px !important;
    max-height: 60px !important;
    height: 60px !important;
    display: grid;
    align-items: center;
    justify-items: center;
}

.btn-secondary{
    border: 1px solid var(--neutro-800) ;
    color: var(--neutro-800) !important;
}

// .btn-genero{
//     border: 1px solid #A6A6A6;
//     color: #A6A6A6;
// }
// .btn-genero-active{
//     border: 1px solid var(--primario-rosa-2);
//     color: var(--primario-rosa-2);
// }

.btn-genero{
    @extend  .btn;
    padding: 11px 15px !important;
    border: 1px solid var(--neutro-300);
    color: var(--neutro-400) !important;
    &-active{
        @extend  .btn;
        border: 1px solid var(--primario-rosa-2);
        color: var(--primario-rosa-2) !important;
    }
}
/* * 
*   ###################### CARD ##################################### 
* */

.card{
    min-height: 500px;
    min-width: 370px;
    background-color: white;
    position: relative;
    display: grid;
    grid-template-rows: 50px auto;
    align-self: center;
    justify-self: center;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 20px;
}

.header-card{
    height: 40px;
    display: grid;
    grid-auto-flow: column;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}

.subcard-18{
    width: 105px;
    height: 105px;
    background: linear-gradient(135deg, #426BFF 0%, #C039FF 100%);  
    border-radius: 40px;
    transform: rotate(4.92deg);
    position: absolute;
    top: -3em;
    left: -3em;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    align-content: center;
    justify-items: center;
    text-align: center;
}
.subcard-18>*{
    font-weight: bold;
    color: white;
    font-size: 8px;
}
.subcard-18>h1 {
    font-size: 36px;
}

.card-xs{
 max-width: 385px;
}

.bg-card{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.48);
    display: grid;
    z-index: 1;

}


.card-option{
    align-self: end ;
    position: sticky;
    bottom: 0;
    background-color: white;
    height: max-content;
    display: grid;
    align-content: start;
    width: 100%;
    grid-gap: 10px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    border-radius: 24px 24px  0px 0px;
    -webkit-border-radius: 24px 24px  0px 0px;
    -moz-border-radius: 24px 24px  0px 0px;
    -ms-border-radius: 24px 24px  0px 0px;
    -o-border-radius: 24px 24px  0px 0px;
    padding-bottom: 20px;
    &-90{
        @extend .card-option;
        height: 95% !important;
    }
    &-80{
        @extend .card-option;
        height: 80% !important;
    }

    &-header{
        height: 55px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

        button{
            color: var(--neutro-600);
        }
    }

    &-search{
        display: grid;
        padding: 0px 20px;
        input{
            border: 0px;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
        }
    }

    &-body{
        display: grid;
        align-content: start;
        grid-gap: 8px;
        padding: 0px 20px;
        overflow-y: auto;
        max-height: calc(100vh - 200px);
    }
}



/* * 
*   ###################### CHECKBOX ##################################### 
* */

.checkbox-group{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 16px;
}

.checkbox-group label{
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
}

/* * 
*   ###################### RADIO ##################################### 
* */

.radio-group{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-content: start;
    align-items: center;
    grid-gap: 10px;
    margin: 4px 0px;
}

.radio-group label{
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
}

/* * 
*   ###################### RANGE ##################################### 
* */
.container-range{
    position: relative;
    height: 10px;
    display: grid;
    width: 100%;
    align-content: center;
}

.line-range{
    width: 100%;
    height: 6px;
    background-color: var(--neutro-200);
    /* position: absolute;
    top: 0;
    bottom: 0; */
}

.input-error{
    border: 1px solid var(--alerts-error);
}

input[type=range].range{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 6px;
    border: none;
    // background-image: linear-gradient( to right ,var(--primario-rosa-2 0 50%, var(--neutro-200 50% 100%);
    // background-size: 60% 100%;
    // background-repeat: no-repeat;
}
input[type=range]::-webkit-slider-runnable-track{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 15px;
}
input[type=range]::-moz-range-track{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 6px;
}

input[type=range]::-ms-track{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 6px;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: var(--primario-rosa-2);
    cursor: pointer;
    pointer-events: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
input[type=range]::-moz-range-thumb{
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    background-color: var(--primario-rosa-2);
    cursor: pointer;
    pointer-events: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

input[type=range]::-ms-thumb{
    appearance: none;
    height: 17px;
    width: 17px;
    background-color: var(--primario-rosa-2);
    cursor: pointer;
    pointer-events: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.form-group{
    margin-bottom: 10px;
    text-align: start;
}


.line{
    width: 2px;
    height: auto;
    background: var(--neutro-300);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.line-h{
    width: auto;
    height: 2px;
    background: var(--neutro-300);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.circle>*{
    align-self: center;
    color: var(--neutro-300);
}

.input-group-append{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 60px auto;
}
.input-group-append>input{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input-group-append> button{
    background: none;
    border: none;
    border: 1px  solid var(--neutro-400);
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    height: 40px;
    display: grid;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    align-self: center;
    cursor: pointer;
}
.input-group-append .input-append{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-end-end-radius: 0px;
    border-start-end-radius: 0px;
    padding: 10px;
}

.load{
    animation: load 1.2s linear infinite;
    /* background-image: url('../img/img-load.png'); */
    background-size: cover;
    width: 80px;
    height: 80px;
    justify-self: center;
    margin: 10px 0px;
}

.content-circle-img{
    display: grid;
    position: relative;
    min-height: 80px;
    min-width: 80px;
}


.circle-img {
    overflow: hidden;
    background-color: var(--neutro-200);
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    justify-self: start;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.circle-img *{
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
}
.sub-circle-img{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--alerts-info);
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.loading{
    background-image: url('../imagenes/loading.png');
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    animation: load 1s linear infinite;
    -webkit-animation: load 1s linear infinite;
    margin: 20px auto;
     
}


/* * 
*   ###################### ANIMACIONES ##################################### 
* */

.fade-in{
    animation: .3s ease-in 0s 1 fadein;
    -webkit-animation: .3s ease-in 0s 1 fadein;
}

.fade-out{
    animation: .3s ease-in 0s 1 fadeout;
    -webkit-animation: .3s ease-in 0s 1 fadeout;
}

.display-column{
    display: grid;
    grid-auto-flow: column;
}
.icon-loader{
    animation: load 1.2s linear infinite;
    -webkit-animation: load 1.2s linear infinite;
}

.onUp{
    animation: onUp .5s normal;
    -webkit-animation: onUp .5s normal;
}

.onDown{
    animation: onDown .5s normal;
    -webkit-animation: onDown .5s normal;
}


.card_check{
    animation: card_check .5s ease-in-out;
    -webkit-animation: card_check .5s ease-in-out;

    &-infinite{
        animation: card_check 1s .2s ease-in-out infinite;
        -webkit-animation: card_check 1s .2s ease-in-out infinite;
    }
}

.card_diss{
    animation: card_diss .5s ease-in-out;
    -webkit-animation: card_diss .5s ease-in-out;

    &-infinite{
        animation: card_diss 1s .2s ease-in-out infinite;
        -webkit-animation: card_diss 1s .2s ease-in-out infinite;
    }
}

.card_fav{
    animation: card_fav .5s ease-in-out;
    -webkit-animation: card_fav .5s ease-in-out;

    &-infinite{
        animation: card_fav 1s .2s ease-in-out infinite;
        -webkit-animation: card_fav 1s .2s ease-in-out infinite;
    }
}

.touch-anim{
    animation: touch 1s  ease-in-out infinite;
    -webkit-animation: touch 1s  ease-in-out infinite;
}

@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes onUp {
    0% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
}
    100% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
} 

@keyframes onDown {
    0% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);

    }
} 



@keyframes card_diss {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: translateX(-200px ) translateY(-60px) rotate(-25deg);
        -webkit-transform: translateX(-200px ) translateY(-60px) rotate(-25deg);
        -moz-transform: translateX(-200px ) translateY(-60px) rotate(-25deg);
        -ms-transform: translateX(-200px ) translateY(-60px) rotate(-25deg);
        -o-transform: translateX(-200px ) translateY(-60px) rotate(-25deg);
        opacity: 0;
    }
}  

@keyframes card_check {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: translateX(200px ) translateY(-60px) rotate(25deg);
        -webkit-transform: translateX(200px ) translateY(-60px) rotate(25deg);
        -moz-transform: translateX(200px ) translateY(-60px) rotate(25deg);
        -ms-transform: translateX(200px ) translateY(-60px) rotate(25deg);
        -o-transform: translateX(200px ) translateY(-60px) rotate(25deg);
        opacity: 0;
    }
}  



@keyframes card_fav{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        opacity: 0;
    }
}  

@keyframes touch{
    0% {
    }
    50%{
        transform: scale(.9);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
}
    80% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
} 








// ! ADMIN ################################################################################################################
// ! ADMIN ################################################################################################################
// ! ADMIN ################################################################################################################


/* ! TABLE ============================================================================== */

table{
    border-collapse: collapse;
}
thead{
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}
th{
    text-align: start;
    padding: 15px 0px;
    color: var(--neutro-600);
}

td{
    padding: 20px 0px;
    cursor: pointer;
}

tr:nth-child(2n){
    background-color: var(--neutro-50);
}

tr:hover{
    background-color: var(--neutro-100);
}

td button{
    padding: 5px;
    background: none;
    border: none;
    display: grid;
    align-items: center;
    cursor: pointer;
    color: var(--neutro-500);
}

td button:hover{
    color: var(--neutro-700);
}


.table-options{
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
    z-index: 1;
    top: 4em;
}

.table-options button{
    padding: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.table-options button:hover{
    background-color: var(--neutro-50);
}
