<div class="temp-home">

    <div class="section-menu">
        <div class="menu-top-logo">
            <img src="../../assets/imagenes/logo-white.png" alt="">
        </div>

        <div class="menu-nav">
            <button class="menu-nav-active" id="home" (click)="nav('home')" ><i class="icon icon-home"></i></button>
            <button id="store" (click)="nav('store')"><i class="icon icon-store"></i></button>
            <button id="message" (click)="nav('message')"><i class="icon icon-message" ></i></button>
            <button id="notificacion" (click)="nav('notificacion')"><i class="icon icon-bell"></i></button>
            <button id="perfil" (click)="nav('perfil')"><i class="icon icon-profile"></i></button>
        </div>

    </div>

    <div class="section-main">
        <p>home works!</p>
        <button (click)="signOut()">Log Out</button>
    </div>

</div>
