<!-- ! FILTRO ========================================== -->
<div class="section-filtro">
    <div class="group-input-icon-left">
        <span class="icon icon-search"></span>
        <input type="text" class="input-square" placeholder="Buscar">
    </div>
    <button class="justify-self-end" class="btn btn-square" id="open_filtro" (click)="OpenFiltro()">Filtrar por <span class="icon icon-filter"></span> </button>
</div>


<!-- ! CONTENIDO ========================================== -->
<div class="grid align-content-start">
    <table>
        <thead>
            <th>DENUNCIANTE</th>
            <th>DENUNCIADO</th>
            <th>HORA</th>
            <th>FECHA</th>
            <th></th>
            <th></th>
        </thead>

        <tbody>
            <tr *ngFor="let number of [0,1,2,3,4]; let i = index">
                <td>Matías Saldivar Rojas</td>
                <td>Juliana Robles Sánchez</td>
                <td>10:43</td>
                <td>21/12/2021</td>
                <td >
                    <button (click)="ctrl_modal_denuncia = true" ><i class="icon icon-eyes"></i></button>
                </td>
                <td style="position: relative;">
                    <button (click)="ToggleOptionTable(i)"><i style="font-size: 5px;" class="icon icon-dots-horizontal"></i></button>
                    <div class="table-options"  [id]="i">
                        <button class="btn-icon"  > <i class="icon icon-sms"></i> Enviar mensaje </button>
                        <button class="btn-icon"  > <i class="icon icon-flag"></i> Bloquear cuenta </button>
                        <button class="btn-icon"  > <i class="icon icon-trash"></i> Eliminar anuncio </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- ! MODAL DENUNCIA ===================================================================================== -->
<div class="container" *ngIf="ctrl_modal_denuncia">

    <div class="card ">
        <button (click)="ctrl_modal_denuncia = false" class="btn-icon align-self-start justify-self-end"><i class="icon icon-close"></i></button>

        <div class="card-reporte" *ngIf="fase_modal_denuncia == 0">
            <div class="grid gc-2x-g">
                <div class="grid justify-items-center">
                    <div class="content-circle-img" style="width: 40px; height: 40px;">
                        <div class="circle-img" >
                            <img src="../../assets/imagenes/user_example.jpg"  alt="">
                        </div>
                    </div>

                    <h4 class="font-300">DENUNCIANTE</h4>
                    <h2 class="font-500">Matías Saldivar Rojas</h2>

                    <div class="flex-column ">
                        <h3>24 años</h3>
                        <h3>Barcelona, España</h3>
                    </div>
                </div>

                <div class="grid justify-items-center">
                    <div class="content-circle-img" style="width: 40px; height: 40px;">
                        <div class="circle-img" >
                            <div class="img-reportado"></div>
                            <img src="../../assets/imagenes/user_example_2.jpg"  alt="">
                        </div>
                    </div>

                    <h4 class="font-300">REPORTADO</h4>
                    <h2 class="font-500">Juliana Robles Sánchez</h2>

                    <div class="flex-column">
                        <h3>24 años</h3>
                        <h3>Sao paulo, Brasil</h3>
                    </div>
                </div>
            </div>

            <div class="line-h"></div>
            
            <div class="grid justify-content-center align-content-center ">
                <div class="grid gc-2x-g  gap-20 ">
                    <div class="grid flex-column gap-10">
                        <div class="circle-gris">
                            <i class="icon icon-calendar"></i>
                        </div>
                        <div class="grid gap-10 align-content-start">
                            <h3>Fecha</h3>
                            <h4>21/12/2021</h4>
                        </div>
                    </div>

                    <div class="grid flex-column gap-10">
                        <div class="circle-gris">
                            <i class="icon icon-flag"></i>
                        </div>
                        <div class="grid gap-10 align-content-start">
                            <h3>Motivo</h3>
                            <h4>Es un perfil falso</h4>
                        </div>
                    </div>

                    <div class="grid flex-column gap-10">
                        <div class="circle-gris">
                            <i class="icon icon-clock"></i>
                        </div>
                        <div class="grid gap-10 align-content-start">
                            <h3>Motivo</h3>
                            <h4>Es un perfil falso</h4>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary btn-block" (click)="fase_modal_denuncia = 1">Anular anuncios de usuario reportad@</button>

        </div>

        <div  class="grid justify-items-center text-center" *ngIf="fase_modal_denuncia == 1" >
            <div class="content-circle-img" style="width: 40px; height: 40px;">
                <div class="circle-img" >
                    <div class="img-reportado"></div>
                    <img src="../../assets/imagenes/user_example_2.jpg"  alt="">
                </div>
            </div>

            <div class="grid text-center align-self-start gap-10">
                <h3>REPORTAD@</h3>
                <h1 class="font-500">Juliana Robles Sánchez</h1>
                <div class="flex-column justify-self-center">
                    <h3>24 años</h3>
                    <h3>Sao paulo, Brasil</h3>
                </div>
            </div>

            <h2>¿Estás seguro de anular los anuncios de <br> Juliana Robles?</h2>

            <div class="grid gc-2x-g gap-10 align-items-center">
                <button class="btn-cancelar">Cancelar</button>
                <button class="btn btn-primary" (click)="AnularAnuncios()">Anular anuncios</button>
            </div>
        </div>

    </div>

</div>


<app-modales></app-modales>


<div class="modal-filtro" *ngIf="ctrl_modal_filtro" >
    <h3 class="font-500"> <span class="icon icon-filter"></span> Filtrar por</h3>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">TIPO DE BLOQUEO</h5>
        </div>

        <div class="form-group">
            <label for="">Restricción</label>
            <select name="" id="">
                <option value="0" disabled>Seleccionar</option>
            </select>
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">DISTANCIA</h5>
        </div>

        <div class="container-range">
            <div class="line-range" id="line-distancia"></div>
            <input type="range" id="rango-distancia-min" class="range" min="0" max="100" value="30">
            <input type="range" id="rango-distancia-max" class="range"min="0" max="100" value="70">
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">EDAD</h5>
        </div>

        <div class="container-range">
            <div class="line-range" id="line-edad"></div>
            <input type="range" id="rango-edad-min"  class="range" min="0" max="100" value="30">
            <input type="range" id="rango-edad-max" class="range" min="0" max="100" value="70">
        </div>
    </div>

    <div class="grid align-content-start">
        <div class="title-line">
            <h5 class="font-500">FECHA</h5>
        </div>

        <div class="group-fecha">
            <input type="date">
            <div class="line-h"></div>
            <input type="date">              
        </div>
    </div>

    <button class="btn btn-primary btn-block" (click)="ctrl_modal_filtro = !ctrl_modal_filtro">Filtrar</button>

</div>