
.temp-modal-sms-tlf{
    display: grid;
    grid-template: 
	"section-search" 80px
    "section-body-sms" auto/
		100%
}

.section-body-sms{
	grid-area: section-body-sms;
    display: grid;
    max-height: 500px;
    overflow: auto;
    padding: 5px 10px;
}


.section-search input{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--neutro-500);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}


.group-input-code{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 10px;
}

.group-input-code>input{
    width: 48px;
    height: 48px;
    padding: 12px;
    background: #ECECEC;
    border-radius: 8px;
    text-align: center;
}

.btn-recibir-code{
    color: var(--neutro-500);
}

.btn-reenviar,.btn-reenviar-disable{
    background: none;
    border: none;
    color: #3B82F6;
    text-decoration: underline;
    cursor: pointer;
}

.btn-reenviar-disable{
    color: var(--neutro-500) !important;
    cursor: not-allowed;
}